body{
    text-align: center;
     background-image:url("https://bit.ly/2qGfMax");
    background-repeat: no-repeat;
    background-size: cover;
    color:black; 
  
  }
  p{
      font-size: 50px;
      color:black;
  }
  